body {
    margin: 0;
    padding: 0;
    font: 1em/1.4em Lato;
    background: #648880;
}

.toper {
    display: inline-block;
    height: 50px;
    width: 100%;
    background: #293f50;
    position: relative;
}

div .reg {
    color: #8a8ae5;
    margin-top: -50px;
    margin-right: 10px;
    float: right;
}

div .reg .block {
    vertical-align: middle;
}

div .reg .log {
    float: left;
}

div .reg .registr {
    float: right;
}

div .reg .registr a {
    color: #fff;
}

div .reg .registr a:hover {
    color: aqua;
}

input {
    margin: 0 10px 0 5px;
}

H1 {
    margin: 15px;
}

H1 a {
    transition: 1s;
    color: #4a4ab1;
}

a:hover {
    transition: 0.5s;
    color: blueviolet;
}

.icon {
    margin-top: -15px;
    float: left;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side {
    z-index: 10;
    min-width: 151px;
    position: absolute;
    width: 9%;
    margin: 20px;
}

.menu a {
    background: #3d3d3d;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
    word-break: keep-all;
}

.menu a:hover {
    background: #666;
    padding: 10px 0 10px 20px;
}

.menu li:first-child a,
.menu li .menu__drop li:first-child a {
    border-radius: 3px 3px 0 0;
}

.menu li:last-child a,
.menu li .menu__drop li:last-child a {
    border-radius: 0 0 3px 3px;
    border-bottom: 0;
}

.menu li .menu__drop li a {
    border-radius: 0;
    border-bottom: 1px solid #666;
}

.menu__list {
    position: relative;
}

.menu__list:hover .menu__drop {
    opacity: 1;
    top: 0;
}

.menu__drop {
    position: absolute;
    width: 100%;
    top: -9999em;
    left: 100%;
    border-left: 10px solid transparent;
    opacity: 0;
    transition: 0.5s opacity;
}

.menu__list::after {
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #eee;
    top: 1em;
    right: 0.7em;
    transition: 0.5s;
}

.menu__list:hover::after {
    transform: scaleX(-1);
}

.content {
    display: inline-flex;
    flex-direction: row;
    min-width: 300px;
    margin: 0.55% 2.3% 1% 0;
    padding: 0.55%;
    height: 450px;
    width: 25%;
    background: #3d505f;
}

@media screen and (max-width: 1280px) {
    .content {
        height: 400px;
        min-width: 300px;
        width: 37%;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        height: 400px;
        min-width: 450px;
        width: 70%;
    }
}

div .head {
    font-style: italic;
    font-size: 1.3em;
    padding-top: 10px;
    text-align: center;
    color: darkslateblue;
    background: SlateGrey;
    width: 100%;
    height: 10%;
}

div .content {
    position: relative;
    padding-bottom: 50px;
}

div .photo1 {
    background: white;
    width: 96.1%;
    height: 85%;
    bottom: 10px;
    position: absolute;
    background-size: cover;
    background-image: url(random.jpg);
}

div .photo2 {
    background: white;
    width: 96.1%;
    height: 85%;
    bottom: 10px;
    position: absolute;
    background-size: auto 100%;
    background-image: url(kot.jpg);
}

div .photo3 {
    background: white;
    width: 96.1%;
    height: 85%;
    bottom: 10px;
    position: absolute;
    background-size: 100% 100%;
    background-image: url(pikcha.jpg);
}

div .left_pointer {
    background: transparent;
    width: 5%;
    height: 85%;
    position: absolute;
    bottom: 10px;
    float: left;
}

div .right_pointer {
    background: transparent;
    width: 5%;
    height: 85%;
    position: absolute;
    bottom: 10px;
    right: 9px;
}

div .left_pointer:hover,
div .right_pointer:hover {
    right: 9px;
    background: #b4abab;
    transition: 1.5s;
    width: 5%;
    height: 85%;
    position: absolute;
    bottom: 10px;
}

div .left_pointer::after {
    position: absolute;
    border: 10px solid;
    top: 12em;
    left: 0.5em;
    transition: 0.5s;
    border-color: transparent grey transparent transparent;
}

div .right_pointer::after {
    position: absolute;
    border: 10px solid;
    top: 12em;
    left: 0.5em;
    transition: 0.5s;
    border-color: transparent transparent transparent grey;
}
